@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /*VAR*/
    --qs-modal-bg-color: #FDFDFD;
    --qs-reviser-bg-color: #7E7C7C;
    --qs-global-bg-color: #D9D9D9
}

.btn {
    border-radius: 0;
    color: black;
}

.btn.active {
    border-radius: 0;
    color: white;
}


.qs-badge-comprehension {
    background: rgba(255, 0, 0, 0.4);
    border: 1px solid #000000;
    border-radius: 50px;
    color: black;
}

.qs-badge-initiation {
    background: rgba(255, 140, 5, 0.4);
    border: 1px solid #000000;
    border-radius: 50px;
    color: black;
}

.qs-badge-maitrise {
    background: rgba(59, 167, 8, 0.4);
    border: 1px solid #000000;
    border-radius: 50px;
    color: black;
}

.qs-badge-oubli {
    background: rgba(0, 100, 251, 0.4);
    border: 1px solid #000000;
    border-radius: 50px;
    color: black;
}


.qs-btn-login {
    background: var(--qs-reviser-bg-color) !important;
    border: 1px solid #000000 !important;
    border-radius: 15px !important;
    color: white !important;
}

.qs-header-banner {
    height: 44px;
    background: transparent;
    border: 1px solid var(--bs-code-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.qs-little-m-1 {
    margin: 0.25rem !important;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '0 0 20 20' %3e%3cpath fill= 'none' stroke= '%23fff' stroke-linecap= 'round' stroke-linejoin= 'round' stroke-width= '3' d= 'm6 10 3 3 6-6' /%3e%3c/svg%3e");
}

.form-check-input:checked {
    background-color: #e83283 !important;
    border-color: #e83283 !important;
}

button, [type='button'], [type='reset'], [type='submit'], .qs-color-btn {
    -webkit-appearance: button;
    background-color: var(--bs-btn-bg) !important;
    background-image: none;
}

.badge {
    width: 60px;
}

label {
    color: black !important;
}

.qs-bck-ground-modal {
    box-shadow: inset 1px 1px rgba(255, 255, 255, .2), inset -1px -1px rgba(255, 255, 255, .1), 1px 3px 24px -1px rgba(0, 0, 0, .15);
    background-color: transparent;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .2) 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 5px;
}


.qs-no-width {
    width: 33.33333333%;
}

.qs-bg-grey {
    background-color: var(--qs-reviser-bg-color);
    width: unset;
    float: right;
}

.btn-outline-info.active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg) !important;
    border-color: var(--bs-btn-active-border-color);
}
